/* ZEROING DEFAULTS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

section {
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

main {
    width: max(100%, 50%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: bisque;
}

.form {
    height: 100%;
}

.form > button {
    padding: 5px;
}

aside {
    width: max(100%, 50%);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    background-color: gray;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card {
    width: 100%;
    overflow-x: scroll;
    background-color: blanchedalmond;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
